/node_modules
/public/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/css/index.css
/public/js/app.js
/public/js/canvasChat.js
/public/js/circles.js
/public/js/easing.js
/public/js/fileinput.min.js
/public/js/manifest.js
/public/js/move-top.js
/public/js/sortable.min.js
/public/js/vendor.js
/public/js/vue.js
/public/css/index.css
/public/js/app.js
/public/js/canvasChat.js
/public/js/circles.js
/public/js/easing.js
/public/js/fileinput.min.js
/public/js/manifest.js
/public/js/move-top.js
/public/js/sortable.min.js
/public/js/vendor.js
/public/js/vue.js
/public

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/public/js/*
